/* Header.module.css */
.header {
  background-color: #333;
  color: white;
  padding: 10px;
  /* ... alte stiluri ... */
}

.list {
  list-style-type: none;
}

.sidebar {
  background: #fefefe;
  height: 100vh;
  width: 100%;
}

.sidebarBrandBox {
  background: #55ec8f;
  height: 80px;
}

.sidebarUl {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
}

.sidebarLi {
  color: #ff6b0a;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.navLink {
  color: #0e0e0e;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.navLink a:hover,
.navLink a:focus {
  text-decoration: underline;
}

.navLinkActive {
  color: #258b25 !important;
}
