.list {
  list-style-type: none;
}

.navLink {
  color: #0e0e0e;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.navLink a:hover,
.navLink a:focus {
  text-decoration: underline;
}

.navLinkActive {
  color: #258b25 !important;
}
